<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  ><a href="/client/index/">My Account</a></li>
			<li  class="active"><a href="/client/report/">My Report</a></li>
			
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li ><a href="/client/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>

<div style='margin-top:20px'></div>
<div class='container'>
<h3>Uploaded to Client</h3>
<table id="uploadedcsv_tbl" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>File Name</th>
                <th>File Upload On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <?php $i=0; ?>
            <?php foreach($this->data['csv'] as $key => $values){ $i++;?>
            <tr><td><?php echo $i;?></td>
            <td><?php echo $values['filename'];?></td>
            <td><?php echo $values['created_on'];?></td>
            <td><a href="http://s3.amazonaws.com/data-capture-csv/<?php echo $values['client_id']; ?>/<?php echo $values['filename']; ?>" onclick='alert("Right click the \"Download\" link and click \"Save Link As\" to download this csv.");return false;'><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</a> </td></tr>
            <?php } ?>
        </tbody>
</table>
</div>


<script>
$(document).ready(function() {
    $('#uploadedcsv_tbl').DataTable();
} );
</script>
