<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li  class="active"><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>

<?php if($this->data['user']){?>
<div class='container'>
<h3>Edit Client Information</h3>
<?php echo $this->msg;?>
<form role="form" data-toggle="validator" method='post' class=" ">	
  <div class="form-group ">
    <label for="inputName " class="col-md-3">First Name</label>
    <input class="col-md-4" type="text" id="inputName" name='first_name' pattern="^([A-z ]){3,}$" placeholder='Enter Your First Name' style='height:40px'  value='<?php echo $this->data['user'][0]['first_name']; ?>'required>
    <div class="help-block with-errors col-md-7 pull-left text-right">* Alphabets only</div>
  </div>
  <div style='clear: both'></div>
    <div class="form-group " >
    <label for="inputName2" class="col-md-3" >Last Name</label>
    <input class="col-md-4" type="text" id="inputName2"  name='last_name' pattern="^([A-z ]){3,}$" placeholder='Enter Your Last Name' style='height:40px' value='<?php echo $this->data['user'][0]['last_name']; ?>' required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
    <div class="help-block with-errors col-md-7 pull-left text-right">* Alphabets only</div>
  </div>
     <div style='clear: both'></div>
      <div class="form-group">
    <label for="inputEmail" class="col-md-3">Email</label>
    <input  class="col-md-4" type="Email" id="inputEmail" name='email'  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  placeholder='Enter Your Email' style='height:40px' value='<?php  if(isset($_POST['email'])) { echo $_POST['email']; } else { echo $this->data['user'][0]['email']; } ?>'  required>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
     <div class="help-block col-md-7 pull-left  text-right">Ex: abc@xyz.com</div>
  </div>
       <div style='clear: both'></div>
<div class="form-group">
    <label for="inputEmail" class="col-md-3">Password</label>
    <input class="col-md-4" type="Password" id="inputPassword" name='password' data-minlength="6" placeholder='Enter Your Password' style='height:40px' >
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
<div class="help-block col-md-7 pull-left  text-right">Minimum of 6 characters</div>
  </div>
 <div style='clear: both'></div>
<div class="form-group">
    <label for="inputEmail" class="col-md-3">Confirm Password</label>
    <input class="col-md-4" type="Password" id="inputPasswordConfirm" name='confirmpass' placeholder='Enter Your Password' data-match="#inputPassword" data-match-error="Whoops, password doesn't match" style='height:40px' >
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
  </div>
<div style='clear: both'></div>
<div class="form-group" style='margin-top:20px; '>
    <label for="inputEmail" class="col-md-3">Status</label>
    <select class="col-md-4" name='status' style='height:40px;'><option value='1' <?php if($this->data['user'][0]['status'] == '1'){ ?> selected <?php } ?>>Active</option><option value='0' <?php if($this->data['user'][0]['status'] == '0'){ ?> selected <?php } ?>>Deactive</option></select>
    <div class="help-block with-errors col-md-7 pull-left  text-right"></div>
  </div>

<div style='clear: both'></div>
<div class="col-sm-offset-3 col-md-4" style='margin-bottom:20px'>
<button id='btn-edit' class='btn btn-success ' type='submit' style='margin-left: -15px'> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update Client</button>
<a href="/admin/index/deleteclient/id/<?php echo $this->data['user'][0]['id']; ?>" onclick="return confirm('Are you sure You want to delete?');"><button class='btn btn-danger ' type='button' > <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span> Delete Client</button></a>
</div>

</form>

<?php }else{ ?>
	<div class="container" style='margin-top:10px'>
	 <div class="alert alert-danger" >User with this ID does not exist any more..</div> 
	</div>
	<?php } ?>
<?php /*<form method='post' id='editclient'>
<?php echo $this->msg;?>

<div class='col-md-6'>
<table class='table '>
  <tr><td>First Name</td><td><input type='text' class='form-control' name='first_name' value='<?php echo $this->data['user'][0]['first_name']; ?>' placeholder='Enter Your First Name' required='true'></td></tr>  
  <tr><td>Last Name</td><td><input type='text' class='form-control' name='last_name' value='<?php echo $this->data['user'][0]['last_name']; ?>' placeholder='Enter Your Last Name' required='true'></td></tr>
  <tr><td>Email</td><td><input type='text' class='form-control' name='email' value='<?php echo $this->data['user'][0]['email']; ?>' placeholder='Enter Your Email' required='true' readonly="readonly"></td></tr>
  <tr><td>New Password</td><td><input type='password' class='form-control' name='password' placeholder='Enter Your New Password' ><span id='error'></span></td></tr>
  <tr><td>New Confirm Password</td><td><input type='password' class='form-control'   name='confirmpass'placeholder='Renter Your New Password' ></td></tr>
   <tr><td>Status</td><td><select class='form-control' name='status'><option value='1' <?php if($this->data['user'][0]['status'] == '1'){ ?> selected <?php } ?>>Active</option><option value='0' <?php if($this->data['user'][0]['status'] == '0'){ ?> selected <?php } ?>>Deactive</option></select></td></tr> 
</table>
<button id='btn-edit' class='btn btn-success ' type='submit'> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update Client</button>
<a href="/admin/index/deleteclient/id/<?php echo $this->data['user'][0]['id']; ?>" onclick="return confirm('Are you sure You want to delete?');"><button class='btn btn-warning ' type='button' > <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span> Delete Client</button></a>
</div>
</form>*/ ?>
</div>

<script>
   // $('#editclient').validator();
    
        //alert("dfe");
   
</script>
