<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li  class="active"><a href="/admin/segments/">Manage Segments</a></li>
			<li><a href="/admin/country/">Manage Countries</a></li>
			
		</ul>
	</nav>
	<br>
	<nav>
		<ul class="nav nav-pills pull-right">
			<li ><a href="/admin/segments/addnewsegment/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Segment</a></li>
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>
<div style='margin-top:20px'></div>
<div class='container'>
<table id="segment_tbl" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Segment Name</th>
                <th>Action</th>
            </tr>
        </thead>
 
       <!-- <tfoot>
            <tr>
                <th>Client Id</th>
                <th>Client Name</th>
                <th>Client Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>-->
 
        <tbody>
	<?php $i=0; ?>	
	<?php foreach($this->data['segment'] as $key => $values){ $i++;?>
            <tr>
                <td><?php echo $i; ?></td>
                <td><?php echo $values['category_name']; ?></td>
		<td>
		<a href="/admin/segments/editsegment/id/<?php echo $values['id']; ?>"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> edit</a>
		<a href="/admin/segments/deletesegment/id/<?php echo $values['id']; ?>" onclick="return confirm('Are you sure You want to delete?');"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> delete</td></a>
	</tr>
	<?php } ?>
	</tbody>
</table>
	
</div>

<script>
$(document).ready(function() {
    $('#segment_tbl').DataTable();
} );
</script>