<!DOCTYPE html>
<html lang="en">
	<head>
	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Data-Capture</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/justified-nav.css">
		<link rel="stylesheet" href="/css/jquery-ui.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/jquery.autocomplete.multiselect.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/js/validator.min.js"></script>

		<!--datatables css --->
		<link rel="stylesheet" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
		<!--datatables js --->
		<script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>


		<!-- bootstrap datepicker Start-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
		<!-- bootstrap datepicker End-->
		<style>

		.wrapper {
		    margin: 20px auto;
		    width: 400px;
		}
		#aplication-names {
		    width: 50%;
		}

		.ui-autocomplete-multiselect.ui-state-default {
		    display: block;
		    background: #fff;
		    border: 1px solid #ccc;
		    padding: 3px 3px;
		    padding-bottom: 0px;
		    overflow: hidden;
		    cursor: text;
		}

		.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
		    float: right;
		    cursor: pointer;
		}

		.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    padding: 1px 3px;
		    margin-right: 2px;
		    margin-bottom: 3px;
		    color: #333;
		    background-color: #f6f6f6;
		}

		.ui-autocomplete-multiselect input {
		    display: inline-block;
		    border: none;
		    outline: none;
		    height: auto;
		    margin: 2px;
		    overflow: visible;
		    margin-bottom: 5px;
		    text-align: left;
		}

		.ui-autocomplete-multiselect.ui-state-active {
		    outline: none;
		    border: 1px solid #7ea4c7;
		    -moz-box-shadow: 0 0 5px rgba(50,150,255,0.5);
		    -webkit-box-shadow: 0 0 5px rgba(50,150,255,0.5);
		    -khtml-box-shadow: 0 0 5px rgba(50,150,255,0.5);
		    box-shadow: 0 0 5px rgba(50,150,255,0.5);
		}

		.ui-autocomplete {
		    border-top: 0;
		    border-top-left-radius: 0;
		    border-top-right-radius: 0;
		}
		</style>
	</head>
	<body>
		<?php echo $this->layout()->content ?>

	</body>
</html>