<div class="container theme-showcase" role="main">

	<nav>
		<ul class="nav nav-justified">
			<li><a href="/admin/index/">Manage Clients</a></li>
			<li><a href="/admin/csv/">Create CSV For Clients</a></li>
			<li><a href="/admin/segments/">Manage Segments</a></li>
			<li   class="active"><a href="/admin/country/">Manage Countries</a></li>
		</ul>
	</nav>
	<br>
	<nav>
		<b>Client :</b>
		<select class='sdk_client'>
			<option value='0'>sdk_id_1</option>
			<?php foreach(@$this->data['client'] as $key => $value){ ;?>
			<option class='sdk_client_opt' value='<?php echo  $value['client_id'];?>'><?php echo $value['sdk_name'];?></option>
			<?php } ?>
		</select>
		<ul class="nav nav-pills pull-right">
			<li><a href="/admin/changepass/"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</a></li>
			<li class="active" ><a href="/admin/index/logout/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> LogOut</a></li>
		</ul>
	</nav>

</div>
<div style='margin-top:20px'></div>
<div class='container'>
<div class="country_tbl" ><table id="country_tbl" class="display" cellspacing="0" width="50%" >
        <thead>
            <tr>
                <th>Serial No.</th>
                <th>Country Name</th>
                <th>Status</th>
            </tr>
        </thead>
    <tbody>
        <?php $i=0; ?>	
	<?php foreach($this->data['country'] as $key => $values){ $i++;?>
        <tr>
            <td><?php echo $i; ?></td>
            <td><?php echo $values['country_name']; ?></td>
            <td><input type='checkbox' class='toggle-one'   id="check_<?php echo $i; ?>" onchange="select_country(this.checked,<?php echo $values['id']; ?>)" <?php if($values['status']=='1'){ ?>checked <?php } ?></td>
        </tr>
        <?php } ?>
    </tbody>
</table>
</div>
<div class='client_country_tbl'></div>

</div>

<script>
function chakk(){
	//alert("done1");
	var table2 = jQuery('#client_country_tbl').DataTable();
     table2.on( 'draw', function () {
        //alert( 'Table redrawn' );
		//jQuery('.toggle-one').bootstrapToggle();
	 } );
     //alert("done");
    }
$(document).ready(function() {
    $( ".sdk_client" ).change(function() {	
	//alert(this.value);
	var client_id=this.value;
	if (client_id == 0) {
	    $('.country_tbl').show();
	    $('.client_country_tbl').hide();
	    //window.location.reload();
	    //code
	}else{
	    $('.country_tbl').hide();
	    $('.client_country_tbl').show();
	$.ajax({
			cache: false,
			url : '/admin/country/clientcountry',
			type: "Post",
			data: {'client_id':client_id},
                        //data : JSON.stringify(data),
			//context : Form,
			success : function(result){
				$(".client_country_tbl")
				.html(result)
				console.log(result);
				setTimeout("chakk();", 2000);
				//chakk();
				
				//alert(result);
				
			}
	})
	}
	}); 
    
    var table = $('#country_tbl').DataTable();
    table.on( 'draw', function () {
        //alert( 'Table redrawn' );
        //$('.toggle-one').bootstrapToggle();
    } );
     
});
 function select_country(value,id){
	
	$.ajax({
			cache: false,
			url : '/admin/country/countrystatus',
			type: "Post",
			data: {'id':id,'value':value},
                        //data : JSON.stringify(data),
			//context : Form,
			success : function(result){
								
				
			}
	})

    }   
    
</script>

<link href="/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/js/bootstrap-toggle.min.js"></script>
